:root {
    --primary: #6244C5;
    --secondary: #FFC448;
    --light: #FAFAFB;
    --dark: #12141D;
}


.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}



#home {
    margin-bottom: 10rem;
}


#myPic {border-radius: 98%;
max-width: 50%;
}
.ua-flag {max-width: 7%;

}